@import url();

@keyframes first-icon {
    0%   {display: none;}
    15%   {color:grey; bottom:-350px; left: 100px;}
    25%  {color:orange; bottom:-150px; left: 80px;}
    50%  {color:rgb(255, 255, 0); bottom:-100px; left:50px}
    75%  {color:blue; bottom:-50px; left: 25px;}
    100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; left: 10px;}
  }
@keyframes second-icon {
    0%   {display: none;}
    15%   {color:grey; bottom:-350px; right: 100px;}
    25%  {color:orange; bottom:-150px; right: 75px;}
    50%  {color:rgb(255, 255, 0); bottom:-100px; right: 50px;}
    75%  {color:blue; bottom:-50px; right: 25px;}
    100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; right:10px}
  }
@keyframes third-icon {
    0%   {display: none;}
    15%   {color:grey; bottom:-350px; right: 400px;}
    25%  {color:orange; bottom:-150px; right: 250px;}
    50%  {color:rgb(255, 255, 0); bottom:-100px; right: 150px;}
    75%  {color:blue; bottom:-50px; right: 50px;}
    100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; right:10px}
  }
@keyframes fourth-icon {
    0%   {display: none;}
    15%   {color:grey; bottom:-350px; right: 600px;}
    25%  {color:orange; bottom:-150px; right: 300px;}
    50%  {color:rgb(255, 255, 0); bottom:-100px; right: 200px;}
    75%  {color:blue; bottom:-50px; right: 125px;}
    85%  {color:blue; bottom:-50px; right: 100px;}
    100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; right:50px}
  }
@keyframes last-icon {
    0%   {display: none;}
    15%   {color:grey; bottom:-350px; right: 900px;}
    25%  {color:orange; bottom:-150px; right: 700px;}
    50%  {color:rgb(255, 255, 0); bottom:-100px; right: 500px;}
    75%  {color:blue; bottom:-50px; right: 300px;}
    85%  {color:blue; bottom:-50px; right: 100px;}
    90%  {color:blue; bottom:-50px; right: 50px;}
    100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; right:25px}
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


 

.top-border-line{
    border-top: 2px solid white;
}
.skill-position{
    margin-top: -60px;
    opacity: 5;
    /* border: 5px solid white; */
    z-index: 3;
}
.skill{
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
}
#html{
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    animation-name: first-icon;
    animation-duration: 4s;
    animation-direction: normal;
}
#css{
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    animation-name: second-icon;
    animation-duration: 4s;
    animation-direction: normal;
}
#javascript{
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    animation-name: third-icon;
    animation-duration: 4s;
    animation-direction: normal;
}
#php{
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    animation-name: fourth-icon;
    animation-duration: 4s;
    animation-direction: normal;
}
#bootstrap{
    width: 100px;
    height: 100px;
    position: relative;
    color: white;
    animation-name: last-icon;
    animation-duration: 4s;
    animation-direction: normal;
}
#html:hover{
    color: grey;
}
#css:hover{
    color:orange;
}
#javascript:hover{
    color: rgb(255, 255, 0);
}
#php:hover{
    color: blue;
}
#bootstrap:hover{
    color: purple;
}

img#blackhole{
    width: 400px; 
    margin-top: -10px;
}

.contact-title{
    margin-top: -30px;
    padding-left: 40px;
    font-size: 25px;
}

.button{
    display: flex;
    justify-content: center;

}

.description{
    color:white;
    
}

/* Back to the Top arrow starts*/

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 12px;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition:  0.25s ease;
    z-index: 4;
}

.back-top-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}
/* Back to the Top arrow ends*/

/* CSS for the Header stars */

*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
html {
    background: #1d2121;
}
body {
    /* font-family: "Segoe UI", Helvetica, Arial, sans-serif; */
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    background-color: #fff;
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #555;
    --color-link-hover: #98fadf;
    --color-info: #f7cfb9;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: overlay;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: #7d948e;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}

/* Page Loader */

.loading {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}
.loaded {
    display: hidden;
}
.loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    opacity: 0.4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1);
    }
}
.content {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}
.contentFixed {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    max-width: none;
    min-height: 0;
    padding: 1.5em;
    color: #555;
}
.logo {
    width: 50px;
    margin-top: -10px;
    vertical-align: middle;
}
.headerTitle {
    font-family: 'Playfair Display', serif;
    color:rgb(48, 48, 48);
    cursor: pointer;

}

#siteNav ul {
    text-align: right;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
   
    font-size: 20px;
}
#siteNav ul li {
    display: inline;
}
#siteNav ul li a {
    margin-left: 10px;
    padding: 8px 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.5s;
    font-family: 'Playfair Display', serif;
    /* border: 1px solid white; */
}
#siteNav ul li a:hover {
    background: white;
    color: black;
}
.imgloaded .contentTitle,
.imgloaded .contentText {
    animation-name: glitch-text;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.contentSection {
    margin: 10vh 0 0 0;
    position: relative;
}
.contentTitle {
    font-size: 7vw;
    padding: 5vw;
    margin-top: -10vw;
    margin-left: 25vw;
    font-family: 'Playfair Display', serif;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
    color:white;
}
.contentTitle span {
    color: black;
}
.contentText {
    /* font-family: 'IM Fell English', serif; */
    font-family: 'Handlee', cursive;
    margin-top: -2vw;
    font-size: 1.5em;
    max-width: 600px;
    font-weight: 400;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25);
    margin-left: 35vw;
    color: black;
}
@media screen and (max-width: 55em) {
    .contentFixed {
        grid-template-columns: 1fr;
    }
    .headerTitle {
        text-align: center;
    }
    #siteNav ul {
        text-align: center;
    }
    .contentTitle {
        text-align: center;
    }
    .contentText {
        text-align: center;
    }
}

/* Glitch styles */

.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--glitch-width);
    height: var(--glitch-height);
    overflow: hidden;
}
.glitchit {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    background: url(../img/IMG-20230402-WA0035\(1\).jpg) no-repeat 50% 50%;
    background-color: var(--blend-color-1);
    background-size: cover;
    transform: translate3d(0, 0, 0);
    background-blend-mode: var(--blend-mode-1);
}
.glitchit:nth-child(n+2) {
    opacity: 0;
}
.imgloaded .glitchit:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.imgloaded .glitchit:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-1;
}
.imgloaded .glitchit:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-2;
}
.imgloaded .glitchit:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-3;
}
.imgloaded .glitchit:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-flash;
}

/* Animations */

@keyframes glitch-1 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    2% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    4% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
@keyframes glitch-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
@keyframes glitch-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
@keyframes glitch-text {
    0% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    9.9% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    }
    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Flash */

@keyframes glitch-flash {
    0%,
    5% {
        opacity: 0.2;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }
    5.5%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

/* CSS for the Header ends */



.font-family{
    font-family: 'Handlee', cursive;
}
/* contact form starts */

.wrapper{
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Handlee', cursive;
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
    
}

.wrapper form{
    margin: 35px 30px;
}

form .dbl-field{
    display:flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
    
}

.dbl-field .field{
    height: 50px;
    width: calc(100% / 2 - 13px);
    position: relative;
}

form .field input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}
form .field input::placeholder,
form .message textarea::placeholder{
    color:#bfbfbf;
}
form .field input:focus,
form .message textarea:focus{
    border: 2px solid #0D6EFD;
}
.wrapper form i{
    position: absolute;
    left: 18px;
    top: 50%;
    font-size: 17px;
    color: #bfbfbf;
    pointer-events: none;
    transform:translateY(-50%);
}

form .field input:focus ~ i{
    color:#0D6EFD;
}
form .message {
    position: relative;
}

form .message i{
    top: 20px;
    font-size: 20px;
}

form .message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}

form .button-area{
 margin: 25px 0;
 display: flex;
 align-items: center;

}

.button-area button{
    font-size: 18px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background: #0D6EFD;
    padding: 13px 25px;
}

.button-area span{
    color:#0D6EFD;
    margin-left: 30px;
    display: none;
}
.cover img{
    width:550px;
}
.card-body{
    height: 45vh;
}
.card-video{
    height:55%;
}

/* footer */

.copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* mediaquierys */


@media(max-width: 430px){
    .wrapper header{
        text-align: center;
    }
    form .dbl-field{
        margin-bottom: 0px;
        flex-direction: column;
    }
    .dbl-field .field{
        width: 100%;
        margin-bottom:  20px;
    }
    form .message textarea{
        resize: none;
    }
    form .button-area{
        flex-direction: column;
    }
    .button-area button{
        width: 100%;
    }
    .button-area span{
        text-align: center;
        margin: 20px 0;
        display: none;
    }
}

@media(max-width: 530px){
    .contentTitle{
        display: none;
    }
    p.contentText{
        display: none;
    }


    #blackhole-col{
        margin-left: -15vw;
    }

    img#blackhole{
        width: 300px; 
        margin-top: -10px;
    }
  
    @keyframes third-icon {
        0%   {display: none;}
        15%   {color:grey; bottom:-350px; left: 100px;}
        25%  {color:orange; bottom:-150px; left: 80px;}
        50%  {color:rgb(255, 255, 0); bottom:-100px; left:50px}
        75%  {color:blue; bottom:-50px; left: 25px;}
        100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; right:5px}
      }
    @keyframes fourth-icon {
        0%   {display: none;}
        15%   {color:grey; bottom:-350px; left: -100px;}
        25%  {color:orange; bottom:-150px; left: -80px;}
        50%  {color:rgb(255, 255, 0); bottom:-100px; left: -50px}
        75%  {color:blue; bottom:-50px; left: -25px;}
        100% {color:rgba(0, 0, 0, 0.237); bottom:-25px; left:-10px}
      }
  
    p.description{
        margin-left: 1rem;
    }
    .About{
        margin-bottom: 2rem;
    }
    .cover{
        margin-left: -12vw;
    }
    .cover img{
        width:300px;
    }
    .contact-title{
       display: flex;
       justify-content: center;
       padding-left: 0px;
        
        
    }

    .dbl-field .field{
        height: 50px;
        width: 200px;
        position: relative;
    }

    .card-body{
        height: 75vh;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-text{
        font-size: 0.8rem;
    }
    
    #last-button{
        padding-top: 20px;
    }
}


@media(min-width: 374px){
    .card-body{
        height: 65vh;
    }
    .cover{
        margin-left: -3vw;
    }
    #blackhole-col{
        margin-left: -5vw;
    }
   
}

@media(min-width: 414px){
    .card-body{
        height: 60vh;
    }
    #blackhole-col{
        margin-left: 0.5vw;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .card-text{
        font-size: 1rem;
    }
   
}

@media(min-width: 413px ) and (max-width: 1000px){
#about-row{
    display: flex;
    flex-direction: column;
}

#col-position{
    display: flex;
    flex-direction: column;
}

img#blackhole{
    width: 325px;
}

}


@media(max-width: 991px ){
    #bootstrap-col{
        display: none;
    }
}

@media(min-width: 768px ) and (max-width: 1192px){
    .card-body{
        height: 60vh;
    }
    .card-video{
        height:40%;
    }
    #middle-button{
        margin-top:-25px;
    }
    #first-button{
        margin-top: 0px;
    }
}

@media(min-width: 994px ) and (max-width: 1192px){

    .card-body{
        height: 35vh;
    }

    #first-button{
        margin-top:-25px;
    }

}


@media(min-width: 443px ) and (max-width: 1200px){
    @keyframes first-icon {
        0%   {display: none;}
        15%   {color:grey; left:-350px;}
        25%  {color:orange; left:-150px; }
        50%  {color:rgb(255, 255, 0); left:-100px;}
        75%  {color:blue; left:-50px;}
        100% {color:rgba(0, 0, 0, 0.237); left:-25px; }
      }
    @keyframes second-icon {
        0%   {display: none;}
        15%  {color:grey; left:-450px;}
        25%  {color:orange; left:-150px; }
        50%  {color:rgb(255, 255, 0); left:-100px;}
        75%  {color:blue; left:-50px;}
        100% {color:rgba(0, 0, 0, 0.237); left:-25px;}
      }
    @keyframes third-icon {
        0%   {display: none;}
        15% {color:grey; left:-650px;}
        25%  {color:orange; left:-450px; }
        50%  {color:rgb(255, 255, 0); left:-250px;}
        75%  {color:blue; left:-150px;}
        100% {color:rgba(0, 0, 0, 0.237); left:-25px;}
      }
    @keyframes fourth-icon {
        0%   {display: none;}
        15% {color:grey; left:-850px;}
        25%  {color:orange; left:-650px; }
        50%  {color:rgb(255, 255, 0); left:-350px;}
        75%  {color:blue; left:-150px;}
        100% {color:rgba(0, 0, 0, 0.237); left:-25px;}
      }
    @keyframes last-icon {
        0%   {display: none;}
        15%  {color:grey; left:-1050px;}
        25%  {color:orange; left:-850px; }
        50%  {color:rgb(255, 255, 0); left:-450px;}
        75%  {color:blue; left:-250px;}
        85%  {color:rgba(0, 0, 0, 0.237); left:-225px;}
        90%  {color:rgba(0, 0, 0, 0.237); left:-125px;}
        100% {color:rgba(0, 0, 0, 0.237); left:-25px;}
      }

      #blackhole-col{
        display: none;
      }
}

